<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxnr.operation">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".RndApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--欢迎页-->
        <activity android:name=".modules.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity
            android:name=".modules.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainActivityTheme" />
        <!--登录页-->
        <activity
            android:name=".modules.LoginActivity"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--客户管理-->
        <activity android:name=".modules.customer.CustomerManageActivity" />
        <!--客户详情-->
        <activity android:name=".modules.customer.CustomerDetailActivity" />
        <!--客户搜索-->
        <activity
            android:name=".modules.customer.CustomerSearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--潜在客户-->
        <activity android:name=".modules.potential.PotentialCustomerActivity" />
        <!--潜在客户详情-->
        <activity android:name=".modules.potential.PotentialDetailActivity" />
        <!--潜在客户搜索-->
        <activity
            android:name=".modules.potential.PotentialSearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--订单管理-->
        <activity android:name=".modules.order.OrderManageActivity" />
        <!--订单搜索-->
        <activity
            android:name=".modules.order.OrderSearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--订单详情-->
        <activity android:name=".modules.order.OrderDetailActivity" />
        <!--查看支付详情-->
        <activity android:name=".modules.order.OrderPayDetailActivity" />
        <!--数据详情-->
        <activity android:name=".modules.datacenter.DataCenterActivity" />
        <!--选择日期-->
        <activity android:name=".modules.datacenter.DailyPickerActivity" />
        <!--数据中心：日：数据详情-->
        <activity android:name=".modules.datacenter.DailyDetailActivity" />
        <!--选择日期：月-->
        <activity android:name=".modules.datacenter.WeekPickerActivity" />
        <!--选择日期：月：数据详情-->
        <activity android:name=".modules.datacenter.WeekDetailActivity" />
        <!--数据中心：数据说明-->
        <activity android:name=".modules.datacenter.DataCenterQuestionActivity" />


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57511e5767e58e5a490010c2" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="XXNR" />

    </application>

</manifest>