<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxnr.operation">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".RndApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--欢迎页-->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity
            android:name=".base.MainActivity"
            android:launchMode="singleTask" />
        <!--登录页-->
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--客户管理-->
        <activity android:name=".customer.CustomerManageActivity" />
        <!--客户详情-->
        <activity android:name=".customer.CustomerDetailActivity" />
        <!--客户搜索-->
        <activity
            android:name=".customer.CustomerSearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--潜在客户-->
        <activity android:name=".potential.PotentialCustomerActivity" />
        <!--潜在客户详情-->
        <activity android:name=".potential.PotentialDetailActivity" />
        <!--潜在客户搜索-->
        <activity
            android:name=".potential.PotentialSearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--订单管理-->
        <activity android:name=".order.OrderManageActivity" />
        <!--订单搜索-->
        <activity
            android:name=".order.OrderSearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--订单详情-->
        <activity android:name=".order.OrderDetailActivity" />
        <!--查看支付详情-->
        <activity android:name=".order.OrderPayDetailActivity" />


    </application>

</manifest>